[submodule "third_party/diffusion_policy"]
	path = third_party/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
[submodule "third_party/policyconsensus"]
	path = third_party/policyconsensus
	url = https://github.com/policyconsensus/policyconsensus.git
[submodule "third_party/reactive_diffusion_policy"]
	path = third_party/reactive_diffusion_policy
	url = https://github.com/ggkiller-air/reactive_diffusion_policy.git
[submodule "third_party/manifeel"]
	path = third_party/manifeel
	url = https://github.com/ggkiller-air/manifeel.git
[submodule "third_party/manifeel-isaacgymenvs"]
	path = third_party/manifeel-isaacgymenvs
	url = https://github.com/ggkiller-air/manifeel-isaacgymenvs.git
